<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi perfil de usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form class="form p-t-20" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" id="exampleInputuname" formControlName="nombre"
                placeholder="Nombre del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
                placeholder="Enter email">
            </div>
          </div>
          <button type="submit" [disabled]="perfilForm.invalid"
            class="btn btn-success waves-effect waves-light m-r-10 btn-bloc">Guardar
            cambios</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del usuario</h6>

        <div>
          <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" alt="" srcset="">
          <img *ngIf="imgTemp" [src]="imgTemp" alt="" srcset="">
        </div>
        <input type="file" (change)="cambiarImagen($event)">
        <br><br>
        <button (click)="subirImagen()" [disabled]="!imagenSubir" type="button"
          class="btn btn-success waves-effect waves-light m-r-10 btn-bloc">Cambiar imagen</button>
      </div>
    </div>
  </div>